[Desktop Entry]
Type=Application
Name=TS Client
Comment=Voice chat, text chat and screen sharing
Exec=tsc-desktop
Icon=io.github.faumaray.TsClient
Terminal=false
Categories=Network;Chat;InstantMessaging;AudioVideo;
Keywords=voice;chat;voip;push-to-talk;
StartupNotify=true
StartupWMClass=tsc-desktop
